* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

.navbar-container {
  background: rgb(103, 34, 128);
  background: linear-gradient(90deg, rgba(103, 34, 128, 1) 0%, rgba(166, 38, 211, 1) 100%);
  padding: 20px 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  color: white;
}
